.description {
  font-family: Noto Sans;
  font-size: 17px;
  line-height: 1.88;
  padding: 0 8px 0 8px;
  color: #45494f;
  margin-bottom: 32px;
}

.desc-text {
  font-weight: bold;
  color: #020303;
}
