.hero-section {
  padding: 56px 8px 28px 8px;
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 103px 118px;
  }
}

.text {
  text-align: start;
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.004em;
  padding: 0 8px 0 8px;
  color: #020303;
  margin-bottom: 60px;
}

.image {
  margin-bottom: 8px;
}
