.modern {
  padding-bottom: 40px;
  margin: 0 -8px;
  background: linear-gradient(180deg, #163da2 0%, #003584 100%);
}
.mod-text {
  padding: 0 16px 0 16px;
}

.modern-desc {
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.4px;
  color: #fbfdff;
  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.mod-img {
  margin-bottom: 39px;
}

@media screen and (min-width: 1200px) {
  .modern {
    display: flex;
    padding: 0;
  }
  .mod-img {
    margin: 0;
  }
  .mod-text {
    padding: 145px 180px;
  }
  .modern-desc {
    width: 425px;
  }
}
