.footer {
  padding: 45px 32px;
  background-color: #fbfbfc;

  &-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    letter-spacing: -0.4px;
    color: #a3adba;
    &-mod {
      font-weight: normal;
      color: #9eabbb;
    }
  }

  &-contact {
    margin-bottom: 20px;
  }
}

.phone {
  color: #45494f;
  &-title {
    color: #7c848d;
  }
}

.address {
  padding-right: 165px;
}

a.footer-link {
  line-height: 2.62;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    padding: 49px 121px 56px 121px;
    border-top: 2px solid #eef0f4;
    &-text {
      font-size: 17px;
      line-height: 1.88;
      &-mod {
        font-size: 17px;
        line-height: 1.88;
      }
    }
    &-contact {
      margin-right: 165px;
    }
  }
  .footer-address {
    display: flex;
  }
  .footer-list {
    display: flex;
    &-child {
      margin-right: 130px;
    }
  }
  .address {
    width: 290px;
  }
  .city {
    margin-right: 110px;
  }
}
