.hauptmerkmale {
  padding: 46px 16px;
  margin-bottom: 32px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}
.haup-list {
  counter-reset: myList;
}

.item {
  position: relative;
  font-size: 16px;
  line-height: 2.22;
  list-style: none;
  letter-spacing: -0.4px;
  color: #45494f;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  &:before {
    top: 8px;
    left: -36px;
    counter-increment: myList;
    content: counter(myList);
    color: #45494f;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 13px;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    border: 2px solid #45494f;
    border-radius: 50%;
  }
}

.carousel-control-prev {
  visibility: hidden;
  top: 840px;
}
.carousel-control-next {
  visibility: hidden;
  top: 840px;
}

@media screen and (min-width: 1200px) {
  .hauptmerkmale {
    padding: 43px 75px;
    margin-bottom: 74px;
  }
  .haup-list {
    display: flex;
  }

  .list-child {
    margin-right: 53px;
    width: 845px;
  }

  .item {
    font-size: 17px;
    line-height: 2.09;
    letter-spacing: -0.4px;
    &::before {
      position: absolute;
    }
  }
  .carousel {
    margin: 0 auto;
    width: 610px;
    height: 813px;
    margin-bottom: 185px;
    &-indicators {
      [data-bs-target] {
        width: 7px;
        height: 7px;
        padding: 0;
        margin-right: 12px;
        margin-left: 12px;
        text-indent: -999px;
        cursor: pointer;
        border-radius: 50%;
        background: linear-gradient(180deg, #005be4 0%, rgba(0, 96, 241, 0) 100%), #004fc7;
        background-clip: padding-box;
        border: 1px solid #0045ac;
        opacity: 0.35;
      }
      .active {
        opacity: $carousel-indicator-active-opacity;
      }
    }
  }

  .carousel-control-prev {
    visibility: visible;
    width: 126px;
    height: 78px;
    background: #ffffff;
    box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
    border-radius: 8px;
    &-icon {
      border-left: 3px solid rgba(0, 69, 203, 0.8);
      border-bottom: 3px solid rgba(0, 69, 203, 0.8);
      transform: rotate(45deg);
    }
  }

  .carousel-control-next {
    visibility: visible;
    width: 126px;
    height: 78px;
    background: #ffffff;
    box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
    border-radius: 8px;
    left: 144px;
    &-icon {
      border-right: 3px solid rgba(0, 69, 203, 0.8);
      border-top: 3px solid rgba(0, 69, 203, 0.8);
      transform: rotate(45deg);
    }
  }

  .carousel-indicators {
    right: -55px;
    bottom: -55px;
    left: 0;
  }
}
