.img-gradient {
  margin: 0 -8px;
}

.section-background {
  padding: 28px 0 65px 0;
  background-color: #fbfbfc;
}

.carousel {
  margin-bottom: 68px;
}

@media screen and (min-width: 1200px) {
  .section-background {
    padding: 67px 121px 82px 121px;
  }
}
