.title-hero {
  font-weight: bold;
  font-size: 34px;
  line-height: 1.53;
  letter-spacing: -0.4px;
  color: #1652ac;
  text-align: center;
  margin: 0;
  &::after {
    content: "";
    display: block;
    align-items: center;
    width: 227px;
    height: 7px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #edeff3;
  }
}

@media screen and (min-width: 1200px) {
  .title-hero {
    text-align: start;
    width: 400px;
    &::after {
      margin: 60px 0;
    }
  }
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2.22;
  text-align: center;
  letter-spacing: 2.42px;
  text-transform: uppercase;
  max-width: 295px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #1652ac;

  &-modern {
    margin-bottom: 16px;
    color: #fbfdff;
  }
  &-black {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2.42px;
    color: #020303;
    &-mod {
      padding: 0 25px;
    }
  }
  &-transform {
    font-size: 23px;
    text-transform: none;
    margin-bottom: 32px;
    line-height: 1.65;
    letter-spacing: -0.4px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    text-align: start;
    max-width: 380px;
    margin: 0;
    margin-bottom: 45px;
    &-modern {
      margin-bottom: 35px;
    }
    &-transform {
      font-size: 26px;
      line-height: 1.26;
      max-width: 450px;
    }

    &-black {
      font-size: 28px;
      line-height: 1.43;
      letter-spacing: 4.42px;
    }
  }
}
